.titleColor {
    color: #ff830a !important; 
}

.padLeft {
    padding-left: 10% !important;
}

.padLeftRow {
  padding-left: 1em;
}

.padTop {
    padding-top: 1em;
}

.paginationStyle {
    font-size: 30px;
    line-height: 2em;
}

.maintable tr td {
    padding-top: 1em;
    padding-bottom: 1em;
}

.maintable tr td b span {
    width: 85px;
    display: inline-block;
}

.audioStyle {
    padding-top: 2em;
    padding-bottom: 1em;
}

.align{
    text-align: center;
}

.iframeStyle {
    width: 420px;
    height: 315px;
}

.calenderStyle {
    border-width: 0px;
    width: 800px;
    height: 600px;
}

.bookingStyle {
    font: 400 14px/20px "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: .08em;
    text-transform: uppercase;
    width: 100%;
    height: 1000px;
    border: 0px;
    background-color: transparent;
}

.banner{
    /*background-image: url("data:../../../../../client/assets/images/banner.png");*/
}

.menubanner {
    display: flex;
    height: 70px !important;
}

.menulogoDiv {
  z-index: 2;
  width: 20%;
}

.menulogoImg {
    margin: -45%;
    margin-left: 0%;
}

.outSideBanner {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.progressBarDiv{
    padding-top: 3%;
    padding-bottom: 2%;
    padding-left: 25%;
    padding-right: 25%
}

.bookingformDiv {
    text-align: center;
    width: 65%;
    padding-left: 35%;
    padding-bottom: 2%;
}

.indexedStep {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    background-color:#aeb2bd;
  }

  .RSPBprogressBar {
    height: 10px;
    line-height: 1;
    border-radius: 10px;
    position: relative;
    background-color: rgba(211, 211, 211, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0; }
    .RSPBprogressBar .RSPBstep {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
      position: absolute;
      transform: translateX(-50%);
      transition-property: all;
      transition-timing-function: ease; }
    .RSPBprogressBar .RSPBprogressBarText {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .RSPBprogressBar .RSPBprogression {
      position: absolute;
      transition: width 0.3s ease;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 10px;
      background: rgb(230, 138, 67);
      z-index: -1; }
  
      .radioDiv {
        width: 100%;
        min-height: 35px;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #122e44;
        background-color: #fff;
    }
    .flexDiv {
        display: flex;
        flex-wrap: wrap;
    }
    .flexRow {
        width: 39%;
        box-sizing: border-box;
    }
  
    .requestDiv {
        width: 100%;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 3%;
    }

    .requestText {
        font-size: 20px;
        font-weight: 400;
        color: #ff830a;
    }

    .alignment{
        text-align: center;
    }

    .centerAlign {
        padding-left: 12%;

    }

    .padLeftBlog {
        padding-left: 7%;
    }
    .ForgotPasText{
        text-align: center;
        font-size: 25px;
        color: #eb7217;
    }
    .bookingForm {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 25px;
        color: #eb7217;
    }

    .loginError {
        color: red !important;
        font: 400 16px/20px "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    }

    .bgcolor {
        background-color: #f6f6f6 !important;
    }

    .loginheading {
        color: #ff830a !important;
        font-weight: 500;
    }

    .loginWarning{
        text-align: center;
        font-size: 20px;
        padding-bottom: 3%;
    }

    .borderright{
        border-right: 0px !important;
    }

    .biodetailsImg {
    width: 90% !important;
    height: 400px !important;
    margin-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
    padding-bottom: 2%; 
}

.Bookingsubmit {
    text-align: left;
    padding-left: 35%;
    font-size: 16px;
    font-weight: 300;
    color: none !important;

}
    @media(min-width: 780px) {
        .head {
            display: contents !important;
        }
      
    }

    @media(min-width: 200px) {
        .rd-navbar-fixed .banner {
            padding: 0px !important;
            margin: 0px !important;
        }
        .rd-navbar-fixed .banner::before {
            background: none !important;
        }
        
    }

    @media(min-width: 1210px){
        .topMenu {
            visibility: collapse;
            height: 0px !important;
        }
    }

    @media(max-width: 1210px){
        .languageToggle {
            padding-top: 12px;
            font-size: 18px;
        }
    }

    .styleImage {
        margin: 0px !important;
    }

    .login-modal-1 {
        cursor: pointer;
    }

    .login-modal-mb {
        cursor: pointer;
    }
    
    .register-modal-1 {
        cursor: pointer;
    }
    
    .accesIdError {
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        color: #e58842;
    }

    .updateText {
        font-size: 19px;
        color: #eb7217;
    }

    .active1 {
        color: #ff830a !important;
    }
    .padTopMenu{
        padding-top: 1%;
    }
    .textCarousel {
        padding-left: 0px !important;
        margin-left: 10px;
    }
    .userColor {
        color: #eb7217;
    }
    .displayDiv {
        display: flex
    }
    .mobCodeDiv {
        width: 20%;
    }
    .mobNoDiv {
        width: 80%;
    }
    .carouselFont {
        font-family: "Roboto_New" !important;
    }
    .MenuPad {
        padding-left: 3% !important;
    }
    .announcementDiv {
        text-align: left;
        margin-left: 17%;
        margin-right: 10%;
    }

    .announcementDiv a {
        color: #e58842;
    }
    .fontWeight{
        font-weight: 500;
    }
    .regist-Text{
        text-align: left;
        margin-left: 15%;
        padding-bottom: 2em;
        margin-right: 5%;
    }
    .contactHeading {
        text-align: center;
        color: #e58842;
    }
    .appointmentList {
        width: 100%;
        max-width: 100%;
        /* margin-left: -12%; */
        margin-top: 5%;
        overflow-x: scroll;
    }
    .padBottom {
        padding-bottom: 4em;
    }

    .filter{
        padding-left: 2em;
        padding-right: 2em;
        width: 25%;
    }
    .filterDiv {
        display: flex;
        flex-direction: row;
    }
    .dropdown {
        background-color: #e58842
    }
    .dropdown button {
        width: 100%;
        color: white;
        background-color: #e58842;  
    }
    .dropdown div {
        width: 100%;
        height: 20em !important;
    }
    /* .dropdown-toggle::after {
        margin-left: 8.255em !important;
    } */

    .titleSearch {
        padding-right: 3%;
        width: 25%;
        padding-left: 3%;
    }
    .titleSearch input {
        border-radius: 0px !important;
    }
    .titleDiv {
        margin-top: 2em !important;
    }
    .btnDiv {
        width: 22%;
        margin-top: 0px !important;
        padding-left: 2.8%;
    }
    .btnDiv button {
        background-color: #e58842 !important;
        border-radius: 0px !important;
    }
    .dropdown-item{
        font-weight: 100 !important;
    }
    .dropdown-menu{
        overflow-y: scroll !important;
        overflow-wrap: break-word;
    }